p {
    word-wrap: break-word;
}

p.nowrap {
    word-wrap: normal;
}

html {
    background: url(/images/ocean_background.jpg) no-repeat center center fixed;
    background-size: cover;
}

#foundation {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto min-content auto;
    grid-template-rows: max-content;
    
}

.root {
    display: inline-grid;
    width: auto;
    height: auto;
    grid-column-start: 2;
    grid-template-columns: min-content 800px 200px;
    grid-template-rows: 150px max-content;
}

.banner{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 1px solid black;
}

.pillar{
    grid-row-start: 2;
    border: 1px solid black;
}